* {
  /* border: solid red 2px; */
  font-family: calibri, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #286695;
  color: #ebe8e8;
}

h1 {
  align-self: flex-start;
  margin-left: 10px;
  font-size: 40px;
  color: #ebe8e8;
}

.book-display {
  display: flex;
  flex-wrap: wrap;
  width: 765px;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 200px;
  padding: 20px;
  border: solid #d5960f;
  border-radius: 10px;
  background-color: #172b52;
}

button {
  border-radius: 5px;
  background-color: #3d525a;
  color: #ffffff;
  cursor: pointer;
}
button:hover {
  background-color: #4e636b;
}

.add-book {
  margin: 10px 40%;
  width: 150px;
}

.book-form {
  visibility: hidden;
  position: fixed;
  margin: 0 33%;

  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 200px;
  padding: 20px;
  border: solid #d5960f;
  border-radius: 10px;
  background-color: #172b52;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

input:invalid {
  border: solid red 2px;
}

input:valid {
  border: solid green 2px;
}
